{% load static %}
  <div class="navbar" id="myNavbar">
      <div class="logo">
        <a href="/browse_writer/"><img src="{% static 'livrowebapp/img/logo.png' %}" width="100"/></a>
      </div>

      <div class="navbarRight">        
        <tr>
            <th> <a href="/browse_writer/"> Home</a> </th>
            <th> <a href="/aboutus/"> About Us </a> </th>
            <th>  <a href="/browse/"> Logout</a> </th>
            <th>  <a href="/profile_writer"> <img class="profileicon" src="{% static 'livrowebapp/img/profileicon.png' %}"></a> </th>
          </tr>
               
    </div>
  </div>
  <link href="{% static 'livrowebapp/css/_navbar.css' %}" rel="stylesheet" />