{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'livrowebapp/css/aboutus.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>livro</title>
  </head>
 
  <div class="navbar" id="myNavbar">
    <div class="logo">
      <a href="/browse/"><img src="{% static 'livrowebapp/img/logo.png' %}" width="100"/></a>
    </div>
    <div class="navbarRight">        
      <tr>
          <th> <a class="nav" href="/browse/"> Home</a> </th>
          <th> <a class="nav" href="/aboutus/"> About Us </a> </th>
          <th>  <a class="nav" href="/signin/"> Login</a></th>
          <th>  <a class="nav" href="/signup/"> Sign Up</a> </th>
        </tr>        
    </div>
  </div>


<div>
  <div class="aboutus">
    <h1>About Us</h1>
  </div>
      <div class="content">
        <p>Livro is an online library that provides access to a wide variety of novels, including classics, 
          contemporary fiction, and everything in between. Our mission is to make reading accessible to 
          everyone, regardless of their location or budget.</p>
        <p>We believe that reading is essential for 
          personal growth and development. It exposes us to new ideas and perspectives, and it helps us to 
          better understand ourselves and the world around us. We are committed to providing a wide selection 
          of novels to meet the needs of all readers.</p>
      </div>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-copyright">
        <p>Copyright &copy; 2023</p>
      </div>
    </div>
  </footer>
  <script src="{% static 'livrowebapp/js/landing.js' %}"></script>
  </body>
</html>
