{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'livrowebapp/css/browse.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>livro</title>
  </head>

<body>
  <div class="navbar" id="myNavbar">
    <div class="logo">
      <a href="/browse/"><img src="{% static 'livrowebapp/img/logo.png' %}" width="100"/></a>
    </div>
    <div class="navbarRight">        
      <tr>
          <th> <a href="/browse/"> Home</a> </th>
          <th> <a href="/aboutus/"> About Us </a> </th>
          <th>  <a href="/signin/"> Login</a></th>
          <th>  <a href="/signup/"> Sign Up</a> </th>
        </tr>        
    </div>
  </div>
  <div class="content" >
    <div class="searchbg"> 
      <div class="search-box">
        <button><img src="{% static 'livrowebapp/img/search48px.png' %}"></button>
        <input type="text" placeholder="Search books...">
      </div>
      <div class="filters">
        <button type="button" class="genre-button" id="actionbtn" value="Action">Action</button>
        <button type="button" class="genre-button" id="fantasybtn" value="Fantasy">Fantasy</button>
        <button type="button" class="genre-button" id="youngbtn" value="Young Adult">Young Adult</button>
        <button type="button" class="genre-button" id="comedybtn" value="Comedy">Comedy</button>
        <button type="button" class="genre-button" id="romancebtn" value="Romance">Romance</button>
        <button type="button" class="genre-button" id="nonficbtn" value="NonFiction">NonFiction</button>
        <button type="button" class="genre-button" id="scifibtn" value="Science Fiction">Science Fiction</button>
        <button type="button" class="genre-button" id="horrorbtn" value="Horror">Horror</button>
      </div>          
    </div>
    <div class="browsebottom">
      <div class="genrebox" id="g1">
        <p><b>Top 10 Trending Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>Fantasy</p> </td>
              <td><p>Action</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Scifi</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Young Adult</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g2">
        <p><b>Top 10 Trending Action Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>Action</p> </td>
              <td><p>Action</p> </td>
              <td><p>Action</p> </td>
              <td><p>Action</p> </td>
              <td><p>Action</p> </td>
              <td><p>Action</p> </td>
              <td><p>Action</p> </td>
              <td><p>Action</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g3">
        <p><b>Top 10 Trending Fantasy Book</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>Fantasy</p> </td>
              <td><p>Fantasy</p> </td>
              <td><p>Fantasy</p> </td>
              <td><p>Fantasy</p> </td>
              <td><p>Fantasy</p> </td>
              <td><p>Fantasy</p> </td>
              <td><p>Fantasy</p> </td>
              <td><p>Fantasy</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g4">
        <p><b>Top 10 Trending Young Adult Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>Young Adult</p> </td>
              <td><p>Young Adult</p> </td>
              <td><p>Young Adult</p> </td>
              <td><p>Young Adult</p> </td>
              <td><p>Young Adult</p> </td>
              <td><p>Young Adult</p> </td>
              <td><p>Young Adult</p> </td>
              <td><p>Young Adult</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g5">
        <p><b>Top 10 Trending Comedy Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>Comedy</p> </td>
              <td><p>Comedy</p> </td>
              <td><p>Comedy</p> </td>
              <td><p>Comedy</p> </td>
              <td><p>Comedy</p> </td>
              <td><p>Comedy</p> </td>
              <td><p>Comedy</p> </td>
              <td><p>Comedy</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g6">
        <p><b>Top 10 Trending Romance Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
              <td><p>Romance</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g7">
        <p><b>Top 10 Trending NonFiction Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>NonFiction</p> </td>
              <td><p>NonFiction</p> </td>
              <td><p>NonFiction</p> </td>
              <td><p>NonFiction</p> </td>
              <td><p>NonFiction</p> </td>
              <td><p>NonFiction</p> </td>
              <td><p>NonFiction</p> </td>
              <td><p>NonFiction</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g8">
        <p><b>Top 10 Trending SciFi Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>SciFi</p> </td>
              <td><p>SciFi</p> </td>
              <td><p>SciFi</p> </td>
              <td><p>SciFi</p> </td>
              <td><p>SciFi</p> </td>
              <td><p>SciFi</p> </td>
              <td><p>SciFi</p> </td>
              <td><p>SciFi</p> </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="genrebox" id="g9">
        <p><b>Top 10 Trending Horror Books</b></p>
        <div class="books">
          <table>
            <tr>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
              <th>  <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            </tr>
            <tr>
              <td><p>Horror</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Horror</p> </td>
              <td><p>Horror</p> </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
<script src="{% static 'livrowebapp/js/browse.js' %}"></script>
</body>
</html>