{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{% static 'livrowebapp/css/manageprofile.css' %}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>livro</title>
    </head>

<body>
    <div class="navbar" id="myNavbar">
        <div class="logo">
          <a href="/browse/"><img src="{% static 'livrowebapp/img/logo.png' %}" width="100"/></a>
        </div>
  
        <div class="navbarRight">        
          <tr>
              <th> <a button class="save" href="/profile/">SAVE CHANGES</a> </th>
              <th> <a button class="cancel" href="/profile/">CANCEL CHANGES</a> </th>
            </tr>
                 
        </div>
      </div>

    <div class="contents">
        <div class="profilebg"> 
            <img src="{% static 'livrowebapp/img/profilepicture.png' %}"/>
            <p>@username</p>
        </div>

        <div class="information">

            <div class="user">
                <p> <b>About user</b></p>
                <div class="info">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>

            <div class="settings">
                <p> <b>Settings</b></p>

                <div class="details">
                    <table>
                        <tr>
                            <th><label for="username">Username:</label></th>
                            <th><input type="text" id="username" name="username"></th>
                        </tr>

                        <tr>
                            <th><label for="email">Email Address:</label></th>
                            <th><input type="email" id="email" name="email"></th>
                        </tr>

                        <tr>
                            <th><label for="current_password">Current Password:</label></th>
                            <th><input type="password" id="cpassword" name="current_password"></th>
                        </tr>

                        <tr>
                            <th><label for="new_password">New Password:</label></th>
                            <th><input type="password" id="npassword" name="new_password"></th>
                        </tr>

                        <tr>
                            <th><label for="confirm_new_password">Confirm New Password:</label></th>
                            <th><input type="password" id="cnpassword" name="confirm_new_password"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>       
</html>