{% load static %}
{% include 'livrowebapp/home.html' %}
{% block content %}

<link href="{% static 'livrowebapp/css/profile_writer.css' %}" rel="stylesheet" />
<div class="content">
  <div class="profilebackground">
    <img src="{% static 'livrowebapp/img/writerimage.png' %}" />
    <p>@username</p>
    <a button class="editprofile" href="/manageprofile_writer/">Edit Profile</a>

  </div>

  <div class="profilebottom">


    <div class="profilebottomLeft">
      <div class="aboutuser">

        <p> <b>About user: </b> <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. </p>
      </div>

      <div class="addbutton">
        <a button class="addbook" href="/addbooks/">Upload Book</a>
      </div>

    </div>

    <div class="userbookshelf">

      <p> <b>User Bookshelf</b> <br>
        Reading List</p>

      <div class="books">

        <table>
          <tr>
            <th> <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a></th>
            <th> <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            <th> <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            <th> <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            <th> <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
            <th> <a href="#"> <img class="profileicon" src="{% static 'livrowebapp/img/book1.png' %}"></a> </th>
          </tr>
          <tr>
            <td>
              <p>Fantasy</p>
            </td>
            <td>
              <p>Fantasy</p>
            </td>
            <td>
              <p>Fantasy</p>
            </td>
            <td>
              <p>Fantasy</p>
            </td>
            <td>
              <p>Fantasy</p>
            </td>
            <td>
              <p>Fantasy</p>
            </td>
          </tr>
        </table>
      </div>

    </div>



  </div>

</div>

<script src="{% static 'livrowebapp/js/profile.js' %}"></script>
{% endblock %}