{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'livrowebapp/css/readwrite.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>livro</title>
  </head>
  <body>
    <div class = "container">
      <div class="logo">
        <img
          src="{% static 'livrowebapp/img/logo.png' %}"
          alt="Logo"
          width="250"/>
      </div>
        <h1 class = "heading">Hello "username"!</h1>
        <p class = "ques">We would like to know more about you.</p>
        <div class="buttons">
          <a class="readerbtn" href="/profile/">
              <img src="{% static 'livrowebapp/img/reader.png' %}">
          </a>
          <a class="writerbtn" href="/profile_writer/">
              <img src="{% static 'livrowebapp/img/writer.png' %}">
          </a>
    </div>
    </div>
  </body>
  </html>