{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link href="{% static 'livrowebapp/css/signin.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=761px, height=770px" />
    <title>livro</title>
</head>

<body>

    <div class="wrap popup">
        <span class="close-button" onclick="closePopup('signin-popup')" title="Close">&times;</span>
        <div class="wrap">
            <span class="closebutton" onclick="closeForm()" title="Close">&#215</span>
            <center>
                <img src="{% static 'livrowebapp/img/logo.png' %}" alt="Logo" width="100">
                <h1>Sign In</h1>
            </center>
            <form action="/readwrite/">
                <label for="emailuser">Email/username</label>
                <input type="text" placeholder="Enter email/Username" required>
                <label for="password">Password</label>
                <input type="password" placeholder="Enter password" required>
                <input type="submit" value="Sign in">
                <label for="donthaveacc">Don't have an account?<a href="/signup/">Sign up</a></label>
            </form>
        </div>
    </div>

    <script src="{% static 'livrowebapp/js/signin.js' %}"></script>

</body>

</html>
