/* ABOUT USER START */
.aboutuser{
    margin: auto;
    margin-top: 3%;
    padding: 50px;
    background-color: #FFFFFF;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
}

.aboutuser p{
    text-align: left;
    margin-top: -5%;
    margin-left: -5%;
    margin-bottom: 50px;
}


/* ABOUT USER END */



/* SEARCH */

.filters{
    width: 500px;
    text-align:left;
    margin: auto;
    margin-top: 10px;
}
.searchbg{

    text-align: center;
    padding: 50px;
    margin: auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 35px;
    margin: auto;
    background-color: #FFFFFF;
    border-color: #B3B3B3;
    border: 1px solid #B3B3B3;
    border-radius: 20px;
}

.search-box button {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.search-box img {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-box input{
    width: 100%;
    margin-right: 10px;
    border: none;
    outline: none; 
    background: none;
}

.filters button{
    width: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    border: 1px solid #B3B3B3;
    background-color: #FFFFFF;
    margin-top: 5px;
    font-family: tahoma;
    
}

.browsebottom{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/* BOOKSHELF START */
.genrebox{
    margin: auto;
    width: 100%;
    padding: 20px;
    max-width: 1300px;
    margin-bottom: 10px;
}

.books p{
    padding: 3px;
    display: inline;
    border: 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
   margin-left: 4px;

}
.books{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  
}

.genrebox img{
    width: auto;
    height: 250px;
    padding: 5px;
    border-radius: 15px;
}

.genrebox p b{ 
    font-size: 30px;

}

/* BOOKSHELF END!! */


@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    max-width: 100%;
 overflow-x: hidden;
 margin: 0px;
  }
}